*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:#f8f8f8;

}

header{

background:#14532d;
color:white;

padding:20px 60px;

display:flex;
justify-content:space-between;
align-items:center;

}

header a{

color:white;
text-decoration:none;

}

.container{

width:90%;
margin:40px auto;

}

table{

width:100%;
border-collapse:collapse;

background:white;

border-radius:12px;

overflow:hidden;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

th{

background:#14532d;
color:white;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #eee;

text-align:center;

}

select{

padding:8px;

border-radius:8px;

}

button{

padding:8px 15px;

background:#b91c1c;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}