*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:#f6f3ee;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

}

.success-card{

background:white;

padding:50px;

width:450px;

border-radius:20px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.checkmark{

width:90px;
height:90px;

margin:auto;

border-radius:50%;

background:#14532d;

color:white;

font-size:50px;

display:flex;
justify-content:center;
align-items:center;

margin-bottom:25px;

}

.btn{

display:inline-block;

margin-top:25px;

padding:14px 28px;

background:#14532d;

color:white;

text-decoration:none;

border-radius:10px;

margin-right:10px;

}

.secondary{

background:#8b5e3c;

}